<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>UserRegistration</display-name>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>com.dbconnection.UserRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/UserRegistration</url-pattern>
  </servlet-mapping>
  <display-name>ServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerAcc</display-name>
    <servlet-name>CustomerAcc</servlet-name>
    <servlet-class>CustomerAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAcc</servlet-name>
    <url-pattern>/CustomerAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAcc</display-name>
    <servlet-name>AdminAcc</servlet-name>
    <servlet-class>AdminAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAcc</servlet-name>
    <url-pattern>/AdminAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomer</display-name>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/AddCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerForm</display-name>
    <servlet-name>CustomerForm</servlet-name>
    <servlet-class>CustomerForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerForm</servlet-name>
    <url-pattern>/CustomerForm</url-pattern>
  </servlet-mapping>
</web-app>